Source: mojang-deb
Maintainer: Ffff Ssss <ja.jsem.sup@gmail.com>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 11)
Standards-Version: 4.5.0

Package: mojang-deb
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Balíček pro Mojang a Debian příkazy
